/**
  [ imageless ]
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #141414; }
/*
.reveal .controls {
  right: 50px;
  bottom: 50px; }

.line {
  content: '';
  position: fixed;
  background: var(--primary);
  z-index: 105; }
  .line.top {
    left: 0;
    top: 0;
    width: 100%;
    height: 30px; }
    @media (max-width: 840px) {
      .line.top {
        height: 15px; } }
  .line.bottom {
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 30px; }
    @media (max-width: 840px) {
      .line.bottom {
        height: 15px; } }
  .line.left {
    left: 0;
    top: 0;
    width: 30px;
    height: 200%; }
    @media (max-width: 840px) {
      .line.left {
        width: 15px; } }
  .line.right {
    left: auto;
    right: 0;
    top: 0;
    width: 30px;
    height: 200%; }
    @media (max-width: 840px) {
      .line.right {
        width: 15px; } }

.reveal.has-dark-background .line {
  display: none; }
*/

/*********************************************
 * GLOBAL STYLES
 *********************************************/

 html {
    --background: #2d2d2d;
    --foreground: #fff;
    --primary: #336699;
    --primary_opague: rgba(51, 102, 153, .8);
    --accent: #F8F9F9; /* #B9DCD2; */
    --titlegreen: #509E2F;
    --brightblue: #00A9E0;
    --brightgreen: #C4D600;
    --alt: #C5E1A5;
    --red: #C0392B;             
    --orange: #ffa500;
 }

body, html {
  background: var(--background);
  background-color: var(--background)!important;}

body {
  width: 85%!important;
  margin: auto!important; }

ul li:last-child, ol li:last-child {
  margin-bottom: 2rem!important;
}

.flag {
  border-left: 3px solid var(--foreground);
  padding: 0 .2rem;
  background-color: var(--red);
  border-radius: 0 4px 4px 0;
}

.reveal .slides {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: normal;
  background-color: var(--background);
  color: var(--foreground); 
  margin: auto;
  text-align: left!important;
}

::selection {
  color: black;
  background: yellow;
  text-shadow: none; }

::-moz-selection {
  color: black;
  background: yellow;
  text-shadow: none; }

 .reveal .slides > section {
}
 
.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; 
  top: 4%!important;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 1rem 0;
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word; 
  text-align: left!important;
}
.reveal h1 {
  font-size: 2.2em; 
  margin-bottom: 1.2rem;
  color: var(--accent);
  text-transform: uppercase;
}

.reveal h2 {
  font-size: 1.7em;
  text-transform: uppercase;
  margin-bottom:2rem;
 }

.reveal h3 {
  font-size: 1.4em; 
  color: var(--titlegreen);
 padding-bottom: 1.5rem;
}

.reveal h4 {
  font-size: 1.2em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 1rem 0;
  text-align: left;
  line-height: 1.5;
  font-size: 2rem; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold;
  color: var(--brightgreen)!important;  }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
 /* display: inline-block; */
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: square;
  font-size: 1rem; 
  margin: 2rem 0 .5rem 1.25rem!important;
}

.reveal ul li {
 margin-bottom: .75rem;
 font-size: 1.75rem;
}
.reveal ul ul {
  list-style-type: square;
 }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: .5rem auto;
  padding: .5rem;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

  .reveal blockquote p {
    margin: 0;
  }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--accent);
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
  font-weight: 700; 
  background-color: var(--primary);
  padding: 0 .25rem;
  border-radius: 4px;
  border: 1px solid transparent;
}

.reveal a:hover {
  color: var(--bright);
  text-shadow: none;}

.reveal .roll span:after {
  color: var(--foreground);
  background: var(--primary_opague); }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #363636;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: var(--primary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--foreground); 
  position: fixed;
  }

 .reveal .controls .controls-arrow {
  color: var(--foreground);
}

.reveal .controls .controls-arrow:hover {
  color: var(--bright);
}

.reveal .controls .controls-arrow:active {
  color: var(--orange)!important;
}

.navigate-right, .navigate-left, .navigate-up, .navigate-down {
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--primary); }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .progress {
  z-index: 1000;
  color: #EBF5FB; }

  /* Set the font size for printed slides */
@media print {
  body {
    font-size: 12px!important;
  }
}
